html
{
    background-color: #d9d9d9;

}

body
{
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
}

#logo
{
    width: 385px;
    height: 50px;
    position: relative;
    top: 15%;
}

#header
{
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.9);
}

#navbutton
{
    font-family: 'Raleway', sans-serif;
    padding: 1em;
    background-color: transparent;
    border: none;
    color: #7ED955;
    font-size: 24px;
}

#navbutton:hover
{
    color: white;
}

#contactme
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    padding: 5%;
    width: 30vw;
    left: 29%;
    
}


#needto
{
    font-family: 'Oswald', sans-serif;
    font-size: 42px;
}

#contactstext
{
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
}

#emailtext
{

    font-family: 'Oswald', sans-serif;
    font-size: 36px;
}

#break
{
    position: relative;
    left: 37.5%;
    width: 25%;
    height: 5vh;
    border-top: 5px solid #7ED955;
}

#myemail
{
    font-family: 'Jost', sans-serif;
    font-size: 26px;
    position: relative;
    bottom: 3vh;
}

#socials
{
    padding: 0.5em;
    width: auto; 
    height: 50px;
    right: 0.9vw;
    top: 2.8vh;
    position: relative; 
    text-decoration: none;
}

#socialicons
{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 5vh;
    left: 1vw;
}

#contacts
{
    border-left: 5px solid #7ED955;
    position: relative;
    top: 5vh;
}





/* CSS for mobile devices */
@media screen and (max-width: 600px) {

    #logo
    {
        width: 75vw;
        height: auto;
        left: 2%;

    }

    #header
    {
        flex-direction: column;
    }

    #navbutton
     {
        font-size: 3.5vw;;
        padding: 0.5em;
        position: relative;
        left: 5.8%;
        font-weight: 700;
        
    }
}