html
{
    background-color: #d9d9d9;

}

body
{
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
}

#logo
{
    width: 385px;
    height: 50px;
    position: relative;
    top: 15%;
}

#header
{
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.9);
}

#navbutton
{
    font-family: 'Raleway', sans-serif;
    padding: 1em;
    background-color: transparent;
    border: none;
    color: #7ED955;
    font-size: 24px;
}

#navbutton:hover
{
    color: white;
}

#container
{
    padding-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.email-button
{
    border: 4px solid black;
}


.email-button:hover
{
    color: white;
    border: 4px solid #7ED955;
}

#child-two
{
    border: 5px solid black;
    padding: 5%;
    border-radius: 10px;
}

#space
{
    height: 30vh;
}



/* CSS for mobile devices */
@media screen and (max-width: 600px) {

    #logo
    {
        width: 75vw;
        height: auto;
        left: 2%;

    }

    #header
    {
        flex-direction: column;
    }

    #navbutton
     {
        font-size: 3.5vw;;
        padding: 0.5em;
        position: relative;
        left: 5.8%;
        font-weight: 700;
        
    }
}
