html
{
    background-color: #d9d9d9;

}

body
{
    margin: 0;
    padding: 0;
}

#logo
{
    width: 385px;
    height: 50px;
    position: relative;
    top: 15%;
}

#header
{
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.9);
}

#navbutton
{
    font-family: 'Raleway', sans-serif;
    padding: 1em;
    background-color: transparent;
    border: none;
    color: #7ED955;
    font-size: 24px;
}

#navbutton:hover
{
    color: white;
}

#workwithme
{
    padding: 5em;
    display: flex;
    justify-content: space-around;
    margin: 7vw;
    border-left: 5px solid #7ED955;

}

#wwmtitle
{
    font-family: 'Oswald', sans-serif;
    
}

#wwmbottomh
{
    font-family: 'Oswald', sans-serif;
    
}

#wwmsub
{
    font-family: 'Jost', sans-serif;
}

#setupaplan
{
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    border: 2px solid black;
}

#setupaplan:hover
{
    color: white;
    border: 2px solid #7ED955;
}

#socials
{
    padding: 1em;
}

#moreab
{
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    text-align: center;
    position: relative;
    bottom: 5vh;
}

#myjourney
{
    padding: 5em;
    position: relative;
    display: flex;
    justify-content: space-around;
    margin: 7vw;
    border-left: 5px solid #7ED955;
    bottom: 10vh;

}

#myjourneytitle
{
    font-family: 'Oswald', sans-serif;
}

#myjourneysub
{
    font-family: 'Jost', sans-serif;
}

#learnmore
{
    display: flex;
}

#line
{
    background-color: #7ED955;
    height: fit-content;
    width: 50%;
    color: #7ED955;
}

#bafcont
{
    display: flex;
    gap: 5%;
    font-family: 'Jost', sans-serif;
    justify-content: space-around;
    position: relative;
    bottom: 20vh;
    font-size: 16px;
    padding: 1em;
    margin: 7vw;
}

#beforeimage
{
    height: 350px;
    width: auto;
    border-radius: 10px;
}

#afterimage
{
    height: 350px;
    width: auto;
    border-radius: 10px;

}

#beforetitle
{
    position: relative;
    left: 5vw;
}

#aftertitle
{
    position: relative;
    left: 5.8vw;
}

#final
{
    display: flex;
    margin: 7vw;
    padding: 5em;
    border-left: 5px solid #7ED955;
    position: relative;
    bottom: 30vh;
}

#finaltitle
{
    font-family: 'Oswald', sans-serif;
}

#finalsub
{
    font-family: 'Jost', sans-serif;
}

#contact
{
    font-family: 'Oswald', sans-serif;
    background-color: transparent;
    position: relative;
    font-size: 32px;
    top: 3vh;
    
}

#contact:hover
{
    color: white;
    border: 2px solid #7ED955;
}

#viewab
{
    text-align: center;
    position: relative;
    bottom: 10vh;
    color: transparent;
}




/* CSS for mobile devices */
@media screen and (max-width: 600px) {

    #logo
    {
        width: 75vw;
        height: auto;
        left: 3%;

    }

    #header
    {
        flex-direction: column;
    }

    #navbutton
     {
        font-size: 3.5vw;;
        padding: 0.5em;
        position: relative;
        left: 5.8%;
        font-weight: 700;
        
    }

  }
