html
{
    background-color: #d9d9d9;

}

body
{
    margin: 0;
    padding: 0;
}

#logo
{
    width: 385px;
    height: 50px;
    position: relative;
    top: 15%;
}

#header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000000;
}

#navbutton
{
    font-family: 'Raleway', sans-serif;
    padding: 1em;
    background-color: transparent;
    border: none;
    color: #7ED955;
    font-size: 24px;
}

#navbutton:hover
{
    color: white;
}