html
{
    background-color: #d9d9d9;

}

body
{
    margin: 0;
    padding: 0;
}

#logo
{
    width: 385px;
    height: 50px;
    position: relative;
    top: 15%;
}

#header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000000;
}

#navbutton
{
    font-family: 'Raleway', sans-serif;
    padding: 1em;
    background-color: transparent;
    border: none;
    color: #7ED955;
    font-size: 24px;
}

#navbutton:hover
{
    color: white;
}

#workwithme
{
    padding: 5em;
    display: flex;
    justify-content: space-around;
    margin: 7vw;
    border-left: 5px solid #7ED955;

}

#wwmtitle
{
    font-family: 'Oswald', sans-serif;
    
}

#wwmbottomh
{
    font-family: 'Oswald', sans-serif;
    
}

#wwmsub
{
    font-family: 'Jost', sans-serif;
}

#setupaplan
{
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
}

#setupaplan:hover
{
    color: white;
}

#socials
{
    padding: 1em;
}

#moreab
{
    font-family: 'Oswald', sans-serif;
    font-size: 42px;
    text-align: center;
    position: relative;
    bottom: 5vh;
}

#myjourney
{
    padding: 5em;
    position: relative;
    display: flex;
    justify-content: space-around;
    margin: 7vw;
    border-left: 5px solid #7ED955;
    bottom: 10vh;

}

#myjourneytitle
{
    font-family: 'Oswald', sans-serif;
}

#myjourneysub
{
    font-family: 'Jost', sans-serif;
}

#learnmore
{
    display: flex;
}

#line
{
    background-color: #7ED955;
    height: fit-content;
    width: 50%;
    color: #7ED955;
}






/* CSS for mobile devices */
@media screen and (max-width: 600px) {

    #logo
    {
        width: 75vw;
        height: auto;
        left: 3%;

    }

    #header
    {
        flex-direction: column;
    }

    #navbutton
     {
        font-size: 3.5vw;;
        padding: 0.5em;
        position: relative;
        left: 5.8%;
        font-weight: 700;
        
    }

  }
